---
title: '¿Cómo solicitar la verificación de SLA de operación de la plataforma?'
id: 3L99VeoLhYEwMqqkWKu86i
status: PUBLISHED
createdAt: 2019-01-24T20:45:46.776Z
updatedAt: 2022-12-23T15:59:27.323Z
publishedAt: 2022-12-23T15:59:27.323Z
firstPublishedAt: 2019-01-24T22:05:10.732Z
contentType: tutorial
productTeam: Others
author: 7FpKZ0rc6k4WqeymES80cw
slug: como-solicitar-la-verificacion-de-sla
locale: es
legacySlug: como-solicitar-la-verificacion-de-sla
subcategory: 22TaEgFhwE6a6CG2KASYkC
---

Los cuatro niveles de servicio de nuestro SLA, y los descuentos concedidos por su quiebra, están citados en su contrato. En caso de no haber recibido uno, el motivo puede haber sido la aceptación automática de nuestro [término de adhesión](/es/faq/por-que-no-recibi-el-contrato-firmado-de-vtex). Sin embargo, siempre que desee, usted puede consultar su SLA [aquí](https://vtex.com/wp-content/uploads/2022/02/MSA-LATAM.pdf).

## Antes de solicitar la verificación de su SLA, tenga en cuenta:

El cobro hecho por VTEX es sobre el servicio ya prestado, o sea, una factura recibida en diciembre corresponde a los servicios del mes de noviembre. De este modo, si su SLA ha sido incumplido en el mes de enero, por ejemplo, lo correcto es que usted haga el pedido después de la emisión del cobro de esa competencia, o sea, en febrero.

Para ello, abra un [ticket](https://support.vtex.com/hc/es-es/requests), seleccione el título "Dudas sobre Valor, Cálculo, Retenciones e Información de Cobro" e informe su caso a nuestro equipo financiero.
