---
title: 'Como solicitar a apuração de SLA de operação da plataforma?'
id: 3L99VeoLhYEwMqqkWKu86i
status: PUBLISHED
createdAt: 2019-01-24T20:45:46.776Z
updatedAt: 2022-12-23T15:59:27.323Z
publishedAt: 2022-12-23T15:59:27.323Z
firstPublishedAt: 2019-01-24T22:05:10.732Z
contentType: tutorial
productTeam: Others
author: 7FpKZ0rc6k4WqeymES80cw
slug: como-solicitar-a-apuracao-de-sla
locale: pt
legacySlug: como-solicitar-a-apuracao-de-sla
subcategoryId: 22TaEgFhwE6a6CG2KASYkC
---

Os quatro níveis de serviço do nosso SLA, e os descontos concedidos pela quebra dele, estão citados no seu contrato. Caso não tenha recebido um, o motivo pode ter sido o aceite automático do nosso [Termo de Adesão](/pt/faq/por-que-nao-recebi-o-contrato-assinado-da-vtex). No entanto, sempre que quiser, é possível consultar seu SLA [aqui](https://vtex.com/wp-content/uploads/2022/01/MASTER-SERVICES-AGREEMENT-Brazil-PT.pdf).

## Antes de solicitar a apuração do seu SLA, tenha em mente:

A cobrança feita pela VTEX é sobre o serviço já prestado, ou seja, uma fatura recebida em dezembro corresponde aos serviços do mês de novembro. Desse modo, caso seu SLA tenha sido descumprido no mês de janeiro, por exemplo, o correto é que você faça o pedido após a emissão da cobrança dessa competência, ou seja, em fevereiro.

Para isso, abra um [ticket](https://support.vtex.com/hc/pt-br/requests), selecione o  título “Dúvidas sobre Valor, Cálculo, Retenções e Informações de Cobrança” e informe seu caso à nossa equipe financeira.
