---
title: 'How to request a platform SLA verification?'
id: 3L99VeoLhYEwMqqkWKu86i
status: PUBLISHED
createdAt: 2019-01-24T20:45:46.776Z
updatedAt: 2022-12-23T15:59:27.323Z
publishedAt: 2022-12-23T15:59:27.323Z
firstPublishedAt: 2019-01-24T22:05:10.732Z
contentType: tutorial
productTeam: Others
author: 7FpKZ0rc6k4WqeymES80cw
slug: how-to-request-sla-verification
locale: en
legacySlug: how-to-request-sla-verification
subcategoryId: 22TaEgFhwE6a6CG2KASYkC
---

The four levels of service of our SLA, and the discounts granted due to breaking it, are mentioned in your contract. If you have not received one, the reason may be the automatic acceptance of our [adhesion term](/en/faq/why-didnt-i-receive-the-signed-contract-from-vtex). However, whenever you want, you can check your SLA [here](https://vtex.com/us-en/privacy-and-agreements/agreements/).

## Before requesting SLA verification, keep in mind:

The charge made by VTEX is on the service already provided, that is, an invoice received in December corresponds to the services of the month of November. So, if your SLA was not complied with in January, for example, you should make the request after this charge is issued, that is, in February.

To do this, open a [ticket](https://support.vtex.com/hc/en/requests), select the title "Doubts about Value, Calculation, Withholdings and Billing Information" and explain your demand to our financial team.
